* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

header.openlooks.header {
  border-bottom: 1px solid var(--oc-gray-2);
  height: 3.75rem;
}

.doc-header {
  background-color: var(--oc-gray-0);
  padding: 0.75rem 1rem 2rem 1rem;
}

.dark .doc-header {
  background-color: var(--oc-gray-8);
  color: white;
}

.doc-header h1 {
  font-size: 2.75rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.doc-header div.openlooks.text {
  color: var(--oc-gray-6);
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.demo-nav-button:hover {
  background-color: var(--oc-gray-0);
}

.blue0 {
  background-color: var(--oc-blue-0);
}

.blue1 {
  background-color: var(--oc-blue-1);
}

.blue2 {
  background-color: var(--oc-blue-2);
}
