header.openlooks.header {
  border-bottom: 1px solid var(--oc-gray-2);
  height: 3.75rem;
}

.dark header.openlooks.header {
  background-color: var(--oc-dark-7);
  border-bottom: 1px solid var(--oc-dark-8);
}

#nav-burger {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #nav-burger {
    display: block;
  }
}
