.doc-header {
  background-color: var(--oc-gray-0);
}

.dark .doc-header {
  background-color: var(--oc-dark-8);
  color: var(--oc-dark-0);
}

.doc-header h1 {
  font-size: 2.75rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.doc-header div.openlooks.text {
  color: var(--oc-gray-7);
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.dark .doc-header div.openlooks.text {
  color: var(--oc-dark-2);
}
