/*
 * Based on Mantine prism theme:
 * https://github.com/mantinedev/mantine/blob/master/src/mantine-prism/src/Prism/prism-theme.ts
 */

code[class*='language-'],
pre[class*='language-'] {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 0.8125rem;
  line-height: 1.7;
  color: rgb(33, 37, 41);
  background-color: rgba(248, 249, 250, 0.65);
}

pre[class*='language-'] {
  padding: 1em;
  margin: 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

/*
 * Light mode
 */

.token.comment {
  color: var(--oc-gray-6);
}

.token.string,
.token.inserted {
  color: var(--oc-indigo-9);
}

.token.number {
  color: var(--oc-blue-7);
}

.token.builtin,
.token.char,
.token.constant,
.token.function,
.token.selector,
.token.atrule {
  color: var(--oc-lime-9);
}

.token.punctuation {
  color: var(--oc-gray-7);
}

.token.variable {
  color: var(--oc-violet-9);
}

.token.attr-name {
  color: var(--oc-green-9);
}

.token.class-name {
  color: var(--oc-red-9);
}

.token.tag,
.token.deleted {
  color: var(--oc-violet-9);
}

.token.operator {
  color: var(--oc-red-9);
}

.token.boolean {
  color: var(--oc-red-9);
}

.token.keyword {
  color: var(--oc-red-9);
}

.token.doctype {
  color: var(--oc-gray-7);
}

.token.url {
  color: var(--oc-gray-7);
}

/*
 * Dark mode
 */

.dark code[class*='language-'],
.dark pre[class*='language-'] {
  color: var(--oc-gray-4);
  background-color: var(--oc-dark-8);
}

.dark .token.comment {
  color: var(--oc-gray-6);
}

.dark .token.string,
.dark .token.inserted,
.dark .token.selector,
.dark .token.atrule {
  color: var(--oc-teal-4);
}

.dark .token.number {
  color: var(--oc-blue-4);
}

.dark .token.builtin,
.dark .token.char,
.dark .token.constant,
.dark .token.function {
  color: var(--oc-orange-5);
}

.dark .token.punctuation {
  color: var(--oc-gray-5);
}

.dark .token.variable {
  color: var(--oc-gray-5);
}

.dark .token.class-name,
.dark .token.attr-name {
  color: var(--oc-yellow-5);
}

.dark .token.tag,
.dark .token.deleted {
  color: var(--oc-red-6);
}

.dark .token.operator {
  color: var(--oc-gray-5);
}

.dark .token.boolean {
  color: var(--oc-red-6);
}

.dark .token.keyword {
  color: var(--oc-indigo-3);
}

.dark .token.doctype {
  color: var(--oc-gray-5);
}

.dark .token.url {
  color: var(--oc-gray-5);
}
