/*
 * Base styles
 */

.alert {
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  overflow: hidden;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  /* border-radius: 0.25rem; */
  border: 0.0625rem solid transparent;
}

.alert .alert-icon {
  line-height: 1;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1rem;
  margin-top: 1px;
}

.alert .alert-body {
  flex: 1 1 0%;
  line-height: 1.5;
}

.alert .alert-body .alert-title {
  font-weight: 700;
  margin-bottom: 0.625rem;
}

/*
 * Variants
 */

.alert.variant-light .alert-icon,
.alert.variant-light .alert-title {
  color: var(--color-6);
}

.alert.variant-outline .alert-icon,
.alert.variant-outline .alert-title {
  color: var(--color-6);
}
