.anchor {
  color: var(--oc-blue-7);
  font-family: var(--font-family);
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}

@media (prefers-contrast: more) {
  .anchor {
    color: blue;
  }
}
