.appshell {
  overflow: hidden;
  position: relative;
}

.appshell .header {
  position: static;
}

.appshell .body {
  display: flex;
  overflow: hidden;
  position: relative;
}

.appshell .navbar {
  overflow: auto;
  position: static;
  width: 16rem;
}

@media screen and (min-width: 0px) and (max-width: 36rem) {
  .appshell .navbar {
    display: none;
  }
}

.appshell .main {
  flex: 1 1 0%;
  min-height: 100%;
  overflow: auto;
}
