/*
 * Base styles
 */

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-family: var(--font-family);
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  border: 0.0625rem solid transparent;
  white-space: nowrap;
}

.button:active {
  transform: translateY(0.0625rem);
}

.button:disabled {
  transform: translateY(0);
}

/*
 * Loading
 */

.button[data-loading='true'] {
  pointer-events: none;
}

.button[data-loading='true']::before {
  content: '';
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

/*
 * Icon
 */

.button > div.icon {
  margin-right: 0.625rem;
  width: 1rem;
  height: 1rem;
}

.button > div.icon svg {
  stroke: var(--oc-white);
  width: 1rem;
  height: 1rem;
}

/*
 * Sizes
 */

.button.size-xs {
  height: 1.875rem;
  padding: 0 0.875rem;
  font-size: var(--font-size-xs);
}

.button.size-xs:has(div.icon) {
  padding-left: 0.75rem;
}

.button.size-sm {
  height: 2.25rem;
  padding: 0 1.125rem;
  font-size: var(--font-size-sm);
}

.button.size-sm:has(div.icon) {
  padding-left: 0.75rem;
}

.button.size-md {
  height: 2.625rem;
  padding: 0 1.375rem;
  font-size: var(--font-size-md);
}

.button.size-md:has(div.icon) {
  padding-left: 0.75rem;
}

.button.size-lg {
  height: 3.125rem;
  padding: 0 1.625rem;
  font-size: var(--font-size-lg);
}

.button.size-lg:has(div.icon) {
  padding-left: 0.75rem;
}

.button.size-xl {
  height: 3.75rem;
  padding: 0 2rem;
  font-size: var(--font-size-xl);
}

.button.size-xl:has(div.icon) {
  padding-left: 0.75rem;
}
