/*
 * Base styles
 */

.button {
  line-height: 1;
  font-family: var(--font-family);
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  border: 0.0625rem solid transparent;
  white-space: nowrap;
}

.button:active {
  transform: translateY(0.0625rem);
}

/*
 * Sizes
 */

.button.size-xs {
  height: 1.875rem;
  padding: 0 0.875rem;
  font-size: var(--font-size-xs);
}

.button.size-sm {
  height: 2.25rem;
  padding: 0 1.125rem;
  font-size: var(--font-size-sm);
}

.button.size-md {
  height: 2.625rem;
  padding: 0 1.375rem;
  font-size: var(--font-size-md);
}

.button.size-lg {
  height: 3.125rem;
  padding: 0 1.625rem;
  font-size: var(--font-size-lg);
}

.button.size-xl {
  height: 3.75rem;
  padding: 0 2rem;
  font-size: var(--font-size-xl);
}
