.configurator {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 44rem;
  border: 0.0625rem solid var(--oc-gray-2);
  border-radius: 0.25rem;
}

.configurator .configurator-stage {
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.configurator .configurator-controls {
  /* display: flex;
  align-items: stretch;
  justify-content: stretch; */
  width: 16rem;
  border-left: 0.0625rem solid var(--oc-gray-2);
  padding: 1rem;
}

.dark .configurator,
.dark .configurator .configurator-controls {
  border-color: var(--oc-dark-5);
}

/*
 * Mobile styles
 */

@media screen and (min-width: 0px) and (max-width: 36rem) {
  .configurator {
    flex-direction: column;
    width: 100%;
  }

  .configurator .configurator-stage {
    width: 100%;
  }

  .configurator .configurator-controls {
    width: 100%;
    border-top: 0.0625rem solid var(--oc-gray-2);
  }
}
