.inputwrapper {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  flex-grow: 1;
  position: relative;
}

.inputwrapper > label.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6;
}

.inputwrapper > label.label > .required {
  color: var(--oc-red-6);
}

.inputwrapper > div.description {
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--oc-gray-6);
}

.inputwrapper > div.error {
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--oc-red-6);
}

.inputwrapper > div > div.rightSection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
}
