.loader {
  stroke: var(--color-6);
}

/*
 * Sizes
 */

.loader.size-xs {
  height: 1.125rem;
  width: 1.125rem;
}

.loader.size-sm {
  height: 1.375rem;
  width: 1.375rem;
}

.loader.size-md {
  height: 2.25rem;
  width: 2.25rem;
}

.loader.size-lg {
  height: 2.75rem;
  width: 2.75rem;
}

.loader.size-xl {
  height: 3.625rem;
  width: 3.625rem;
}
