.nativeselect {
  display: block;
  height: 2.25rem;
  /* min-height: 2.25rem; */
  line-height: 2.125rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: var(--font-family);
  width: 100%;
  padding: 0 2rem 0 0.75rem;
  margin-top: 0.125rem;
}

.nativeselect:focus {
  outline: none;
  border-color: var(--oc-blue-5);
}

.nativeselect[aria-invalid='true'] {
  border-color: var(--oc-red-5);
  color: var(--oc-red-5);
}

.dark .nativeselect {
  background-color: var(--oc-dark-6);
  border-color: var(--oc-dark-4);
  color: var(--oc-dark-0);
}

.dark .nativeselect:focus {
  border-color: var(--oc-blue-5);
}

/*
 * Sizes
 */

.nativeselect.size-xs {
  height: 1.875rem;
  padding: 0 0.625rem;
  font-size: var(--font-size-xs);
}

.nativeselect.size-sm {
  height: 2.25rem;
  padding: 0 0.75rem;
  font-size: var(--font-size-sm);
}

.nativeselect.size-md {
  height: 2.625rem;
  padding: 0 0.875rem;
  font-size: var(--font-size-md);
}

.nativeselect.size-lg {
  height: 3.125rem;
  padding: 0 1rem;
  font-size: var(--font-size-lg);
}

.nativeselect.size-xl {
  height: 3.75rem;
  padding: 0 1.25rem;
  font-size: var(--font-size-xl);
}
