.scrollarea {
  overflow: auto;
  -ms-overflow-style: auto;
  scrollbar-color: rgba(0, 0, 0, 0) transparent;
  scrollbar-width: thin;
}

.scrollarea::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.scrollarea::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollarea::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scrollarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

/*
 * Hover
 */

.scrollarea:hover {
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

.scrollarea:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}

/*
 * Never
 */

.scrollarea.variant-never:hover {
  scrollbar-color: rgba(0, 0, 0, 0) transparent;
}

.scrollarea.variant-never:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
}

/*
 * Always
 */

.scrollarea.variant-always {
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

.scrollarea.variant-always::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}

/*
 * Sizes
 */

.scrollarea.scrollbarSize-xs::-webkit-scrollbar {
  width: 0.125rem;
  height: 0.125rem;
}

.scrollarea.scrollbarSize-sm::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollarea.scrollbarSize-md::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.scrollarea.scrollbarSize-lg::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.scrollarea.scrollbarSize-xl::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
