.switch {
  --width: 2.375rem;
  --height: 1.25rem;
  display: flex;
  font-family: var(--font-family);
  gap: 0.5rem;
}

.switch .track {
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--oc-gray-3);
}

.switch .thumb {
  position: absolute;
  content: '';
  height: calc(var(--height) * 0.75);
  width: calc(var(--height) * 0.75);
  left: calc(var(--height) * 0.125);
  top: calc(var(--height) * 0.125);
  background-color: var(--oc-white);
}

.switch input:checked + .slider {
  background-color: var(--color-6, var(--oc-blue-6));
}

.switch input:checked + .slider .thumb {
  transform: translateX(calc(var(--width) - var(--height)));
}

/* 
 * Sizes
 */

.switch.size-xs {
  --width: 2rem;
  --height: 1rem;
  font-size: var(--font-size-xs);
}

.switch.size-sm {
  --width: 2.375rem;
  --height: 1.25rem;
  font-size: var(--font-size-sm);
}

.switch.size-md {
  --width: 2.875rem;
  --height: 1.5rem;
  font-size: var(--font-size-md);
}

.switch.size-lg {
  --width: 3.5rem;
  --height: 1.875rem;
  font-size: var(--font-size-lg);
}

.switch.size-xl {
  --width: 4.5rem;
  --height: 2.25rem;
  font-size: var(--font-size-xl);
}
