.table {
  border-collapse: collapse;
  font-family: var(--font-family);
  line-height: 1.6;
  width: 100%;
}

.table > thead > tr > th {
  color: var(--oc-gray-7);
  font-size: 14px;
  padding: 6px 12px;
  text-align: left;
}

.table > tbody > tr > td {
  border-top: 0.1px solid var(--oc-gray-3);
  font-size: 14px;
  padding: 6px 12px;
}
