.textarea {
  display: block;
  line-height: 1.55;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: var(--font-family);
  width: 100%;
  padding: 0.625rem 0.75rem;
  resize: none;
}

.textarea:focus {
  outline: none;
  border-color: var(--oc-blue-5);
}

.textarea[aria-invalid='true'] {
  border-color: var(--oc-red-5);
  color: var(--oc-red-5);
}

.dark .textarea {
  background-color: var(--oc-dark-6);
  border-color: var(--oc-dark-4);
  color: var(--oc-dark-0);
}

.dark .textarea:focus {
  border-color: var(--oc-blue-5);
}

/*
 * Sizes
 */

.textarea.size-xs {
  /* height: 1.875rem; */
  /* padding: 0 0.625rem; */
  padding: 0.625rem;
  font-size: var(--font-size-xs);
}

.textarea.size-sm {
  /* height: 2.25rem; */
  /* padding: 0 0.75rem; */
  padding: 0.625rem 0.75rem;
  font-size: var(--font-size-sm);
}

.textarea.size-md {
  /* height: 2.625rem;
  padding: 0 0.875rem; */
  padding: 0.625rem 0.875rem;
  font-size: var(--font-size-md);
}

.textarea.size-lg {
  /* height: 3.125rem; */
  padding: 0.625rem 1rem;
  font-size: var(--font-size-lg);
}

.textarea.size-xl {
  /* height: 3.75rem;
  padding: 0 1.25rem; */
  padding: 0.625rem 1.25rem;
  font-size: var(--font-size-xl);
}
