/*
 * Base styles
 */

.text {
  line-height: 1.5;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-6, var(--oc-black));
}

.dark .text {
  color: var(--color-6, var(--oc-white));
}

/*
 * Sizes
 */

.text.size-xs {
  font-size: 0.75rem;
}

.text.size-sm {
  font-size: 0.875rem;
}

.text.size-md {
  font-size: 1rem;
}

.text.size-lg {
  font-size: 1.125rem;
}

.text.size-xl {
  font-size: 1.25rem;
}

/*
 * Weights
 */

@each $weight in (xs, sm, md, lg, xl) {
  .text.weight-$(weight) {
    font-weight: $weight;
  }
}
