.title {
  font-family: var(--font-family);
  font-weight: 700;
  margin: 0;
}

.dark .title {
  color: var(--color-6, var(--oc-gray-1));
}

h1.title {
  font-size: 2.125rem;
  line-height: 1.3;
}

h2.title {
  font-size: 1.625rem;
  line-height: 1.35;
}

h3.title {
  font-size: 1.375rem;
  line-height: 1.4;
}

h4.title {
  font-size: 1.125rem;
  line-height: 1.45;
}

h5.title {
  font-size: 1rem;
  line-height: 1.5;
}

h6.title {
  font-size: 0.875rem;
  line-height: 1.5;
}
